#container {
    max-width:1400px;
}

#tcbus_map_canvas {
    width: 100%;
    height: 480px;
}

#rs_toggle {
    height:240px;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-bottom:10px;
}

#stop_info {
    margin:10px 0 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding:10px;
}

#route_info {
    padding:7px;
}

.manual-help {
    text-align:center;
    margin:8px 0 8px 0;
}

nav {
    padding:10px;
    margin-bottom:10px;
    /* linear gradient */
    background-image: -ms-linear-gradient(top, #4CB2D4 0%,#ffffff 100%);
    background-image: -moz-linear-gradient(top, #4CB2D4 0%,#ffffff 100%);
    background-image: -o-linear-gradient(top, #4CB2D4 0%,#ffffff 100%);
    background-image: -webkit-linear-gradient(top, #4CB2D4 0%,#ffffff 100%);
    background-image: linear-gradient(top, #4CB2D4 0%,#ffffff 100%); 
}

h1 {
    margin-bottom: 0px;
    color:#003399;
}

#rsform ul {
    margin: 24px;
    margin-top:0;
}

#rsform li {
    list-style:none;
}

#rsform li:hover {
    background-color:#3c74d9;
    color:#FFFFFF;
}

#rsform label {
    display:block;
    padding:5px;
}

/* RWD Service */
@media (max-width:768px) {
    .h1, h1 {
        font-size: 36px;
    }
}

@media (max-height:600px) {
    #tcbus_map_canvas {
        height: 340px;
    }
}